@model BookStore.Models.Product
@using BookStore.Models
@using BookStore.Services
@using System.Web.Optimization;

@{
    ViewBag.Title = "網路書城";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="AddForm" name="AddForm">
    @Html.AntiForgeryToken()

    <div style="width: 700px">
        <fieldset style="border: 8px #fff8ad groove;">
            <table style="width:100%;">
                <tr>
                    <legend><h3 style="color:black">商品圖檔</h3></legend>

                    <td>
                        <img id="img1" src="" style="width:300px; height:260px;">
                    </td>
                    <td valign="middle">
                        <input type="file" name="_FileName" id="file1" />
                        @*<input type="submit" value="上傳" class="btn" />*@
                    </td>
                </tr>
            </table>
        </fieldset>

        <table>
            <div class="form-horizontal">
                <!-- 驗證資料 -->
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <tr>
                <div class="form-group">
                <td><h3 style="color:black">@Html.Label("商品編號")</h3></td>
                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PrdID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </td>
    </div>
    </tr>

    <tr>
        <div class="form-group">
        <td><h3 style="color:black">@Html.Label("商品狀態")</h3></td>
        <td>
            <div class="col-md-10">
                @{
                    List<Option> PrdStatusList = (List<Option>)ViewBag.PrdStatus;
                    @Html.DropDownListFor(x => x.PrdStatus, //Name
                                          new SelectList(PrdStatusList, "ListID", "ListName"), /*集合*/
                                          string.Empty,
                                          new { required = "required" }) @*值*@
                }
            </div>
        </td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
        <td><h3 style="color:black">@Html.Label("商品類型")</h3></td>
        <td>
            <div class="col-md-10">
                @{
                    List<Option> PrdTypeList = (List<Option>)ViewBag.PrdType;
                    @Html.DropDownListFor(x => x.PrdType,
                                          new SelectList(PrdTypeList, "ListID", "ListName"),
                                          string.Empty,
                                          new { required = "required" })
                }
            </div>
        </td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
        <td><h3 style="color:black">@Html.Label("商品名稱")</h3></td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(x => x.PrdName, new { htmlAttributes = new { @required = "required" } })
            </div>
        </td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
        <td><h3 style="color:black">@Html.Label("商品內容")</h3></td>
        <td>
            <div class="col-md-10">
                @Html.TextAreaFor(x => x.PrdContent, new { cols = 75, @rows = 6 })
            </div>
        </td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
        <td><h3 style="color:black">@Html.Label("商品售價")</h3></td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(x => x.PrdPrice, new { htmlAttributes = new { min = "0", max = "99990", step = "1", @required = "required" } })
            </div>
        </td>
        </div>
    </tr>

    <tr>
        <div class="form-group">
        <td><h3 style="color:black">@Html.Label("商品庫存量") &nbsp; &nbsp; &nbsp;</h3></td>
        <td>
            <div class="col-md-10">
                @Html.EditorFor(x => x.PrdQuantity, new { htmlAttributes = new { min = "0", max = "99990", step = "1", @required = "required" } })
            </div>
        </td>
        </div>
    </tr><br />

    <tr>
        <div class="form-group">
        <td></td>
        <td align="center">
            <input class="btn" onclick="btnAdd()" value="新增">
        </td>
        </div>
    </tr>
    </table>
    </div>
</form>

@section Add{

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script type="text/javascript">

        //添加自定義校驗
        jQuery.validator.addMethod("isPrdIDData", function (value, element) {
            var PrdIDData = /^(\d|[a-zA-Z])+$/;
            return this.optional(element) || (PrdIDData.test(value));
        }, "只能輸入英文數字");

        $("#AddForm").validate({
            rules: {
                PrdID: {                                                //要驗證的表單的id
                    required: true,                                     //是否是必填項
                    maxlength: 20,                                      //最大長度
                    isPrdIDData: true,                                  //自定義校驗
                    remote: {                                           //返回 false 就會出現錯誤信息
                        url: "/Home/ValidatedQuery",
                        type: "post",
                        dataType: "html",
                        data: {
                            Type: "Add",
                            Value: function () {
                                return $("#PrdID").val();
                            }
                        },
                        dataFilter: function (data, type) {
                            if (data == "False")
                                return false;
                            else
                                return true;
                        }
                    }
                },
                PrdStatus: {
                    required: true
                },
                PrdType: {
                    required: true
                },
                PrdName: {
                    required: true,
                    maxlength: 50
                },
                PrdContent: {
                    maxlength: 500
                },
                PrdPrice: {
                    required: true,
                    min: 0
                },
                PrdQuantity: {
                    required: true,
                    min: 0
                }
            },
            messages: {
                PrdID: {
                    required: "必填欄位",
                    maxlength: "請輸入長度介於{0}的字串",
                   /* ismypassword: "字串必須由數字、英文字母和特殊字元組成",*/
                    remote: "商品編號已經存在"
                },
                PrdStatus: {
                    required: "必填欄位"
                },
                PrdType: {
                    required: "必填欄位"
                },
                PrdName: {
                    required: "必填欄位",
                    maxlength: "請輸入長度介於{0}的字串"
                },
                PrdContent: {
                    maxlength: "請輸入長度介於{0}的字串"
                },
                PrdPrice: {
                    required: "必填欄位",
                    maxlength: "請輸入一個最小為{0}的值"
                },
                PrdQuantity: {
                    required: "必填欄位",
                    maxlength: "請輸入一個最小為{0}的值"
                }
            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            }
        });

        function btnAdd() {
            /*debugger*/
            var validateState = $("#AddForm").valid();        //檢測表單是否驗證通過 并進行表單驗證
            if (!validateState) {
                return false;
            }

            var myForm = $("#AddForm");
            var dataForm = myForm.serialize();
            var _FileName = ($("#file1"))[0].files[0];
            /*debugger*/

            $('#AddForm').ajaxSubmit({
                type: 'POST',                                 // post/get
                url: '@Url.Action("CreateConfirm", "Home")',  // url位置
                data: dataForm,
                cache: false,                                 //不快取頁面
                //contentType: false,                         //當form以multipart/form-data方式上傳檔案時，需要設定為false
                //processData: false,                         //如果要傳送Dom樹資訊或其他不需要轉換的資訊，請設定為false
                dataType: 'json',
                success: function (data) {                    //成功後要執行的函數
                    if (data.IsSuccess) {
                        alert(data.Message);
                        window.location.href = "/Home/List";
                        @* window.location.href = '@Url.Action("List", "Home")';*@
                    }
                    else if (!data.IsSuccess) {
                        alert(data.Message);
                    }
                }
            });
        };
    </script>
}